<div class="row">
	<nav class="navbar navbar-expand-lg navbar-light menu-background">

		<div class="collapse navbar-collapse navbar-header" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					href="#" ng-click="selectMenu('menu-home')"><span class="menu menu-home active-menu">Home</span></a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					ng-click="selectMenu('menu-about')"><span class="menu menu-about">About</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="#" ng-click="selectMenu('menu-curriculum')"><span class="menu menu-curriculum">Curriculum</span></a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					ng-click="selectMenu('menu-programs')"><span class="menu menu-programs">Enrichment Programs</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="#" ng-click="selectMenu('menu-schoollife')"><span class="menu menu-schoollife">School Life</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="#" ng-click="selectMenu('menu-admissions')"><span class="menu menu-admissions">Admissions</span></a></li>
			</ul>
		</div>
	</nav>
</div>

